h1{
    color: black;
    border: solid 1px;
    text-align: center;
    width: 100%;
    
    
}
.container{
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    color: white;
    
}
#backround{
    background-image: url(https://cdn.pixabay.com/photo/2015/03/20/01/23/space-681641_960_720.jpg);
    padding-top: 30px;
    padding-bottom: 600px;
}